{% extends 'main_page/base.html' %}
{% block main_area %}
                <!-- Card Post -->
{% if category %}
                <h1> {{ category }} </h1>
{% else %}
                <h1>Player List</h1>
                <a href="/main_page/create_card/"><button type="button" class="btn btn-outline-primary btn-circle">선수 생성</button></a>
{% endif %}
                <div class="row">
{% if player_list.exists %}

{% for p in player_list %}
                    <div class="col-sm-3">
                        <div style="width: 200px" class="card m-4" id="card-{{ p.pk }}">
    {% if p.head_image %}
                            <a href="#!" ><img class="card-img-top"  src="{{ p.head_image.url }}" alt="{{ p }} head image" /></a>
        {% else %}
                            <img style="height: 264px" class = "card-img-top" src="https://portal.kleague.com/images/portal/img-nonepicture-userprofil.png">
    {% endif%}
                            <div class="card-body">
    {% if p.category %}
                                <span class="badge badge-secondary float-right">{{ p.category }}</span>
        {% else %}
                                <span class="badge badge-secondary float-right"> Unknown</span>
    {% endif %}
                                <h2 class="card-title h4">{{ p.name }}</h2>
                                <p class="card-text">포지션: {{p.position}} <br> 구단명: {{p.team_name}}</p>

                                <a class="btn btn-primary" href="{{ p.get_absolute_url }}">상세 정보 →</a>
                            </div>
                        </div>
                    </div>
{% endfor%}
{% else %}
                    <h3> 선수 명단이 존재하지 않습니다. </h3>
{% endif%}
                </div>

{% endblock %}