{% extends 'main_page/base.html' %}
{% block main_area %}
                <!-- Card Post -->
{% if category %}
                <h1> {{ category }} </h1>
{% else %}
                <h1>Player List</h1>
                <a href="/main_page/create_card/"><button type="button" class="btn btn-outline-primary btn-circle">선수 생성</button></a>
{% endif %}
                <div class="row">
{% if player_list.exists %}

{% for p in player_list %}
                    <div class="col-sm-3">
                        <div style="width: 200px" class="card m-4" id="card-{{ p.pk }}">
    {% if p.head_image %}
                            <a href="#!" ><img class="card-img-top"  src="{{ p.head_image.url }}" alt="{{ p }} head image" /></a>
        {% else %}
                            <img style="height: 264px" class = "card-img-top" src="https://portal.kleague.com/images/portal/img-nonepicture-userprofil.png">
    {% endif%}
                            <div class="card-body">

                                <h2 class="card-title h4">{{ p.name }}</h2>
{% if p.category %}
                                <span class="badge badge-secondary">{{ p.category }}</span>
        {% else %}
                                <span class="badge badge-secondary"> Unknown</span>
    {% endif %}
                                <p class="card-text">포지션: {{p.position}} <br> 구단명: {{p.team_name}}</p>

                                <a class="btn btn-primary" href="{{ p.get_absolute_url }}">상세 정보 →</a>
                            </div>
                        </div>
                    </div>
{% endfor%}
                    <!-- Pagination -->
                    {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?&page={{ page_obj.previous_page_number }}">이전</a>

                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                            </li>
                            {% endif %}
                            {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li class="page-link">
                                <a class="page-item" href="?&page={{ page_number }}">{{ page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?&page={{ page_obj.next_page_number }}">다음</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                            </li>
                            {% endif %}
                      </ul>
                    </nav>
                    {% endif %}
{% else %}
                    <h3> 선수 명단이 존재하지 않습니다. </h3>
{% endif%}
                </div>

{% endblock %}