{% extends 'main_page/base_full_width.html' %}
{% block head_title %} Search Card - SoccerDB {% endblock %}
{% block style_block %} #id_name{width: 200px;}{% endblock %}

{% block main_area %}
    <h1>선수 검색</h1>
    <hr>
    <h3>무료 서버 특성상 속도가 원활하지 않아 이미지는 검색되지 않습니다.</h3>
    <form method="get"  action="{% url "player:search" %}">
        {{form}}
        <br>
        <br>
        <button class="btn btn-outline-primary btn-circle float-right">Search</button>
    </form>

                <div class="row">
{% if player %}
{% for p in player %}
                    <div class="col-sm-3">
                        <div style="width: 200px" class="card m-4" id="card-{{ p.pk }}">

                            <!--<img style="height: 264px" class = "card-img-top" src="https://portal.kleague.com/images/portal/img-nonepicture-userprofil.png">-->

                            <div class="card-body">

                                <h2 class="card-title h4">{{ p.name }}</h2>
{% if p.category %}
                                <span class="badge badge-secondary">{{ p.category }}</span>
        {% else %}
                                <span class="badge badge-secondary"> Unknown</span>
    {% endif %}
                                <p class="card-text">포지션: {{p.position}} <br> 구단명: {{p.team_name}}</p>

                                <a class="btn btn-primary" href="{{ p.get_absolute_url }}">상세 정보 →</a>
                            </div>
                        </div>
                    </div>
{% endfor%}
{% else %}

<div class="container text-center m-5"><h2>검색결과가 존재하지 않습니다. 다시 검색해주세요.</h2></div>

{% endif %}
                    </div>
{% endblock %}

{% block script_block %}
<!-- placeholder -->
inputID = document.querySelector('#id_name'); inputID.placeholder = '이름을 입력해주세요';
shootID = document.querySelector('#id_shoot_rate'); shootID.placeholder = '슛 성공률 최솟값';
shootLteID = document.querySelector('#id_shoot_rate_lte'); shootLteID.placeholder = '슛 성공률 최댓값';


<!-- bootstrap style -->
comboInput = document.querySelector('#id_team_type'); comboInput.className += 'custom-select';
inputs = document.querySelectorAll('input');
for (let element of inputs) {
    element.className += 'form-control';
}

{%  endblock %}